* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  background-color: rgb(102, 183, 102);
}

nav {
  width: 100%;
  height: 10%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  position: fixed;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
a {
  text-decoration: none;
  color: green;
 }
h1 {
  display: flex;
  width: 100%;
  height: 25%;
  align-items: center;
  padding-top: 2em;
  justify-content: center;
  text-align: center;
}
h2 {
  font-size: 1em;
  text-align: center;
  padding-bottom: 1em;
}
.contenair {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
h3 {
  padding: 0.5em;
}

.Belfast {
  background-image: url("belfast.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  margin: 1em;
}
.Derry {
  background-image: url("Derry.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 200px;
  width: 200px;
  margin: 1em;
}
.Omagh {
  background-image: url("Omagh.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 200px;
  width: 200px;
  margin: 1em;
}
.Dublin {
  background-image: url("Dublin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 200px;
  width: 200px;
  margin: 1em;
}
@media screen and (min-width: 768px){
  h3 {
    color: rgb(5, 64, 22);
  }
  .Belfast {
    width: 500px;
    height: 300px;
  }
  .Derry{
    width: 500px;
    height: 300px;
  }
  .Omagh{
    width: 500px;
    height: 300px;
  }
  .Dublin{
    width: 500px;
    height: 300px;
  }
}
@media screen and (min-width: 1024px){
  body {
    background-color: azure;
  }
  nav {
    height: 5em;
    background-image: url("bogside.png");
    position: sticky;
    opacity: 0.6;
    }
  a {
    color: black;
    font-size: 2em;
    font-weight: bold;
    }
    .contenair {
      display: grid;
      grid-template-columns: 50% 50%;
  }
  h1 {
    padding-top: 0em;
  }
  ul {
    justify-content:left;
    }
li {
    margin: 1em;
}
}